@use './global-variables' as *;
@use './nav-bar.scss';

:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #ffff;
    --box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
    --border-bottom: 1px solid var(--main-background-color);
    --border: 1px solid var(--secondary-text-color);
    --main-border-radius: 12px;
    --second-border-radius: 10px;
    --third-border-radius: 8px;
    --padding: 60px 104px;
    --padding-left: 12px;
    --padding-right: 12px;
    --padding-all: 12px;
    --transation: 0.4s;
    --padding-top-bottom: 38px
}

@mixin headings {
    text-align: center !important;
    padding: var(--padding-top-bottom) 0px !important;
}

@mixin headings-h2 {
    font-size: 35px;
    font-weight: 600;
}

@mixin headings-h2-span {
    color: var(--purple-accent) !important;
}

@mixin headings-p {
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-text-color) !important;
    padding-top: 3px !important;
}

@mixin headings-span {
    color: var(--purple-accent);
    font-weight: 600;
}

@mixin button_width {
    display: flex;
    justify-content: center;
    padding-top: var(--padding-top-bottom);
}

@mixin button_width-btn-sections {
    padding: 12px 24px;
    border-radius: var(--second-border-radius);
    outline: none;
    border: var(--border) !important;
    width: 300px !important;
    transition: var(--transation);
    box-shadow: inset 0px 0px 10px 30px #7a1d7f;
    border: transparent 2px solid !important;
}

@mixin button_width-btn-sections-a {
    color: var(--section-background-color) !important;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
}

@mixin button_width-btn-sections-hover {
    border: var(--purple-accent) 2px solid !important;
}

@mixin button-width-hover {
    box-shadow: none;
    color: var(--purple-accent) !important;
    background-color: transparent !important;
}

#home {
    .section_one {
        background-color: var(--main-bg-nav-color) !important;
        padding-top: var(--padding-top-bottom) !important;

        .table {
            display: none;
        }

        .SectionGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 60px;

            .col {
                &.slider-app {
                    transform: translate(10px, -20px);
                    opacity: 0;
                }

                p {
                    color: var(--secondary-text-color) !important;
                    font-weight: 400 !important;
                    line-height: normal !important;
                    font-size: 1rem !important;
                    margin-bottom: 12px;

                    &.description-msp {
                        transform: translate(0px, -20px);
                        opacity: 0;
                    }

                    &:nth-child(1) {
                        /* background: var(--purple-accent) !important; */
                        font-size: 1rem !important;
                        font-weight: 800 !important;
                        border-radius: var(--third-border-radius) !important;
                        padding: 12px 24px !important;
                        width: fit-content !important;
                        /* color: var(--main-bg-nav-color) !important; */
                        /* box-shadow: inset 0px 0px 10px 7px #3e0e42, 3px 3px 4px 1px rgba(123, 29, 128, 0.3607843137); */
                        border: 1px solid var;
                        border: 2px solid var(--purple-accent);
                        color: var(--purple-accent) !important;
                        opacity: 0;
                        transform: translate(-10px, -10px);
                        // animation: showTitleMsp 6s forwards;
                    }
                }

                h2 {
                    font-size: 2.4rem;
                    font-weight: 600 !important;
                    margin: 0 !important;

                    &.bestStudent {
                        padding: 0 !important;
                        margin: 0 !important;
                        display: inline-block;
                    }

                    #bestStudent {
                        width: 100%;
                        opacity: 0;
                        overflow: hidden;
                        display: inline-block;
                        border-right: 0px solid;
                        border-left: 0px solid;
                        white-space: nowrap;

                        color: var(--main-text-color) !important;

                        span {
                            color: var(--purple-accent) !important;
                        }
                    }

                    span {
                        color: var(--purple-accent) !important;
                    }

                }

                .dynamic {
                    &.dynamic-home {
                        transform: translate(50px, 0px);
                        opacity: 0;
                    }

                    width: 118%;
                    border-radius: 12px 0px 0px 12px;
                    border-top: 2px solid var(--main-text-color);
                    border-bottom: 2px solid var(--main-text-color);
                    border-left: 2px solid var(--main-text-color);

                    background: var(--section-background-color);
                    box-shadow: 8px 8px 4px 0px #7B1D80;

                    .allGrid {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        padding: 25px 0px;

                        .numbers {
                            padding-left: 32px !important;

                            h3 {
                                font-size: 25px !important;
                                font-weight: 600;

                                span {
                                    &:first-child {
                                        color: var(--main-text-color) !important;
                                        padding-right: 2px !important;
                                    }

                                    &:last-child {
                                        color: var(--purple-accent) !important;
                                    }
                                }
                            }

                            p {
                                margin: 0px !important;
                                font-size: 11px !important;
                                font-weight: 500 !important;
                            }
                        }
                    }
                }

                .carousel-item {
                    img {
                        width: 100% !important;
                        height: 100% !important;
                        border-radius: var(--main-border-radius) !important;
                    }
                }

                .carousel-indicators {
                    background-color: var(--section-background-color) !important;
                    padding: 12px !important;
                    border-radius: 100px !important;
                    height: 40px !important;

                    align-items: center;

                    &>li {

                        background-color: var(--main-background-color) !important;
                        margin: 8px !important;
                        padding: 4px;
                        border-radius: 8px !important;

                        &.active {
                            background-color: var(--purple-accent) !important;
                        }
                    }
                }

                .carousel-control-prev,
                .carousel-control-next {
                    position: absolute;
                    top: 91%;
                    z-index: 100;
                    border-radius: 48px;
                    border: 2px solid var(--main-background-color);
                    width: fit-content !important;
                    height: fit-content !important;
                    font-size: 1rem;
                    transition: var(--transation);

                }

                .carousel-control-prev {

                    left: 17%;
                }

                .carousel-control-next {

                    right: 17%;
                    background-color: var(--purple-accent) !important;

                }
            }
        }
    }

    .section_two {
        padding: var(--padding-top-bottom) 0px;

        .first {
            hr {
                background-color: var(--secondary-text-color) !important;
                border: 1px solid var(--secondary-text-color);

                &.line-over {
                    width: 0;
                    animation: line-through forwards;
                    animation-timeline: scroll();
                }

                &.line-over-2 {
                    width: 0;
                    animation: line-through-2 forwards;
                    animation-timeline: scroll();
                }

                &.line-over-3 {
                    width: 0;
                    animation: line-through-3 forwards;
                    animation-timeline: scroll();
                }

                &.line-over-4 {
                    width: 0;
                    animation: line-through-4 forwards;
                    animation-timeline: scroll();
                }

                &.line-over-5 {
                    width: 0;
                    animation: line-through-5 forwards;
                    animation-timeline: scroll();
                }
            }
        }

        .headings {
            @include headings;

            h2 {
                @include headings-h2;

                &.bestStudent {
                    padding: 0 !important;
                    margin: 0 !important;
                    display: inline-block;
                }

                #bestStudent {
                    width: 100%;
                    opacity: 0;
                    overflow: hidden;
                    display: inline-block;
                    border-right: 0px solid;
                    border-left: 0px solid;
                    white-space: nowrap;

                    color: var(--main-text-color) !important;

                    span {
                        color: var(--purple-accent) !important;
                    }
                }

                span {
                    &:last-child {
                        @include headings-h2-span;
                    }
                }
            }

            p {
                @include headings-p;

                &.desBestStudent {
                    transform: translate(-0px, -20px);
                    opacity: 0;
                }

                span {
                    @include headings-span;
                }
            }

        }

        .committeeGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 30px;
            column-gap: 28px;
            align-items: center;

            .sections {
                transform: translate(-20px, -20px);
                opacity: 0;

                .icon_width {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 20px !important;

                    .icon {
                        background-color: var(--main-background-color) !important;
                        border-radius: 16px !important;
                        padding: 28px !important;
                        position: relative;

                        svg {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .text {
                    border-radius: 28px;
                    border: 2px solid var(--main-background-color);
                    padding: 32px;
                    text-align: center;

                    h3 {
                        color: var(--main-text-color) !important;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    p {
                        color: var(--secondary-text-color);
                        font-size: 0.853rem;
                        font-weight: 400;
                        padding-top: 24px !important;

                        padding-bottom: 24px !important;
                    }

                    a {
                        color: var(--purple-accent) !important;
                        font-size: 18px;
                        font-weight: 500;
                        text-decoration: none !important;

                    }
                }

                &:hover .icon {
                    box-shadow: 0px 0px 10px 0px var(--purple-accent) !important;
                }

                &:hover .text {
                    background-color: var(--purple-accent) !important;
                    color: #fee9ff !important;
                    box-shadow: 0px 0px 15px 0px var(--purple-accent) !important;
                    border: none !important;
                }

                &:hover .text a,
                &:hover .text p,
                &:hover .text h3 {
                    color: var(--main-background-color) !important;

                }

            }

        }

        .button_width {
            @include button_width;

            .btn-sections {
                transform: translate(20px, 20px);
                opacity: 0;
                @include button_width-btn-sections;

                a {
                    @include button_width-btn-sections-a;
                }

                &:hover {
                    @include button_width-btn-sections-hover;
                }

                &:hover a,
                &:hover {
                    @include button-width-hover;
                }
            }
        }

        .grid-container {
            .features {
                &:nth-of-type(odd) {
                    transform: translateX(150%);
                }

                &:nth-of-type(even),
                &:first-child {
                    transform: translateX(-150%);
                }
            }

            .item1 {
                grid-area: header;
            }

            .features-image {
                opacity: 0;
                transform: rotateX(-90deg);
            }

            .item2 {
                grid-area: menu;


                img {
                    height: 60vh;
                }
            }

            .item3 {
                grid-area: main;
            }

            .item4 {
                grid-area: right;
            }

            .item5 {
                grid-area: footer;
            }

            .item6 {
                grid-area: left;
            }

            .item7 {
                grid-area: row;
            }

            width: 100%;
            display: grid;
            grid-template-areas: 'header header menu menu main main'
            'right right  menu menu footer footer'
            'left left  menu menu row row';
            gap: 25px;
            align-items: center !important;

            .grid {
                display: flex;
                align-items: center;

                gap: 10px;

                .number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 3px solid var(--main-background-color);
                    background: var(--purple-accent) !important;
                    padding: 10px 20px !important;
                    font-size: 1.5rem !important;
                    color: var(--section-background-color);
                }

                .design {
                    display: flex;
                    flex-direction: column !important;
                    gap: 10px !important;

                    h4 {
                        color: var(--main-text-color) !important;
                        font-size: 20px !important;
                        font-weight: 500 !important;
                        margin-bottom: 0px !important;
                    }

                    p {
                        color: var(--secondary-text-color) !important;
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: -0.096px;
                        bottom: 0;
                        margin-bottom: 0px !important;
                    }
                }

            }
        }

        .GridTeam {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;

            .sectionOne {
                border-radius: 16px;
                border: 2px solid var(--main-background-color);
                padding: 6px;
                text-align: center !important;
                transition: var(--transation);
                background-color: var(--main-bg-nav-color) !important;
                opacity: 0;

                &:nth-of-type(odd) {
                    transform: translate(-20px, -20px);
                }

                &:nth-of-type(even) {
                    transform: translate(20px, 20px);
                }

                &:hover {
                    background-color: var(--purple-accent) !important;
                    box-shadow: 0px 0px 15px 0px var(--purple-accent) !important;
                    border: none !important;
                }

                img {
                    width: 65%;
                    position: relative;
                    left: 17%;
                    transform: translate(0px, 0px);
                }

                .position {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    p {
                        border-radius: 100px;
                        border: 1px solid var(--main-background-color);
                        background: var(--main-background-color);
                        padding: 8px;
                        font-weight: 400 !important;
                        position: absolute;
                        bottom: -36px;
                    }

                    &:hover p {
                        color: var(--purple-accent) !important;

                    }
                }

                h3 {
                    margin-top: 39px;
                    font-weight: 500 !important;
                    font-size: 1.3rem !important;
                    margin-bottom: 8px;
                }

                .icons {
                    display: flex;
                    justify-content: center;
                    gap: 12px;

                    svg {
                        border: 1px solid var(--secondary-text-color) !important;
                        padding: 12px;
                        border-radius: 50%;
                        fill: var(--main-text-color) !important;
                    }
                }

                &:hover h3,
                &:hover .icons svg {
                    color: var(--main-bg-nav-color) !important;

                    fill: var(--main-bg-nav-color) !important;
                }
            }
        }

        .SponserGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;

            .sectionOne {
                opacity: 0;

                &:nth-of-type(odd) {
                    transform: translate(-20px, -20px);
                }

                &:nth-of-type(even) {
                    transform: translate(20px, 20px);
                }

                border-radius: var(--main-border-radius);
                border: 2px solid var(--main-background-color);
                background: var(--main-bg-nav-color);
                display: flex;
                justify-content: space-evenly;
                transition: var(--transation);

                img {
                    height: 25vh;
                }

                &:hover {
                    background-color: var(--purple-accent) !important;
                    box-shadow: 0px 0px 15px 0px var(--purple-accent) !important;
                    border: none !important;
                }


            }
        }

        .questionsGrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3.375rem;

            .sectionOne {

                details {

                    opacity: 0;
                    transform: translate(-10px, -10px);
                    margin: 2.2rem 0;
                    padding: 0 1rem;
                    width: 100%;
                    position: relative;
                    border: 1px solid var(--secondary-text-color);
                    border-radius: 6px;

                    &>:last-child {
                        margin-bottom: 1rem;
                    }

                    &[open] {
                        summary {
                            color: var(--purple-accent);

                            &:after {
                                transform: translateY(-50%) rotate(180deg);

                            }
                        }
                    }

                    summary {
                        padding: 1rem 2em 1rem 0;
                        display: block;
                        position: relative;
                        font-size: 1em;
                        font-weight: 600;
                        cursor: pointer;
                        text-align: left;

                        &::after,
                        &::before {
                            width: 0.75em;
                            height: 2px;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            content: '';
                            background-color: currentColor;
                            text-align: right;
                            transform: translateY(-50%);
                            transition: transform 0.2s ease-in-out;
                        }

                        &::after {
                            transform: translateY(-50%) rotate(90deg);

                        }
                    }

                    p {
                        margin: 1rem 0 1em;
                        line-height: 1.5;
                    }

                    ul {
                        padding: 15px;


                        li {
                            font-weight: 500;

                            &.li {
                                list-style: disc;
                                list-style-position: outside;
                                color: var(--purple-accent);
                                font-weight: 800;
                            }
                        }

                        ol {
                            padding-left: 12px;

                            li {
                                list-style-position: inside;
                                list-style: circle;

                            }
                        }
                    }

                }

                .container-form {
                    transform: skew(-10deg, 0deg) translate(20px, -20px);
                    opacity: 0;
                }

                .question {
                    margin: 2.3rem auto;
                    border: 1px solid #92929D;
                    border-radius: 6px;
                    padding: 20px;

                    h4 {
                        font-size: 2rem;
                        font-weight: 500;
                        color: var(--purple-accent);

                    }

                    hr {
                        background-color: #92929D;
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }

                    .form {

                        .inputs {
                            width: 45%;

                            input {
                                width: 221%;
                                margin: 2px 0 10px;
                                border-radius: 6px;
                                outline: none !important;
                                padding: 11.5px;
                                border: 1px solid var(--secondary-text-color);
                            }

                            label {
                                color: var(--main-text-color);
                                font-weight: 600;
                            }

                            textarea {
                                border-radius: 6px;
                                padding: 11.5px;
                                resize: none;
                                width: 221%;
                                height: 150px;
                                border: 1px solid var(--secondary-text-color);
                                outline: none;

                                background-color: var(--input-bg) !important;

                                &:focus {
                                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
                                }
                            }
                        }

                        .butn {
                            text-align: right;
                            width: 100%;

                            input {
                                padding: 12px 30px;
                                margin-top: 0.89em;
                                border-radius: 6px;
                                outline: none !important;
                                /* padding: 11.5px; */
                                border: 1px solid var(--secondary-text-color);
                                background-color: var(--purple-accent);
                                color: var(--main-bg-nav-color);

                            }
                        }
                    }
                }

            }
        }
    }
}

@media only screen and ($media-mobile) {

    #home {
        .section_one {
            .SectionGrid {
                grid-template-columns: repeat(1, 1fr) !important;
                gap: 20px;

                .dynamic {
                    display: none;
                }

                .carousel-control-prev,
                .carousel-control-next {
                    display: none !important;
                }

                .col {
                    h2 {
                        &.bestStudent {
                            font-size: 1rem !important;
                        }
                    }
                }
            }

            .table {
                display: block;
                margin-top: 20px;

                .numbers {
                    padding: 16px 18px;
                    border-radius: 8px;
                    border: 2px solid var(--secondary-text-color);

                    p {
                        font-size: 1rem;
                    }

                    &.number1 {
                        grid-area: header;
                    }

                    &.number2 {
                        grid-area: left;
                    }

                    &.number3 {
                        grid-area: right;

                        p {
                            font-size: 0.8666rem;
                        }
                    }

                    &.number4 {
                        grid-area: footer;
                    }
                }

                display: grid;
                grid-template-areas: 'header header header header header header'
                'left left left right right right'
                'footer footer footer footer footer footer';
                gap: 10px;
                text-align: center;
                align-items: center;
                padding: 10px;
            }
        }

        .headings {
            h2 {
                &.bestStudent {
                    font-size: 1rem !important;
                }

                font-size: 32px;

            }

        }

        .committeeGrid {
            grid-template-columns: repeat(1, 1fr) !important;
        }

        .btn-sections {
            width: 100% !important;
        }

        .grid-container {
            display: grid;

            grid-template-areas:
                'menu menu'
                'header header'
                'right right'
                'left left'
                'main main'
                'footer footer'
                'row row' !important;

            .item2 img {
                width: 100%;
            }
        }


        .grid.gridT {
            flex-direction: row-reverse !important;
        }

        .GridTeam {
            grid-template-columns: repeat(1, 1fr) !important;
            gap: 19px;
        }

        .SponserGrid {
            grid-template-columns: repeat(1, 1fr) !important;
            gap: 19px;
        }

        .bg {
            display: none !important;
        }

        .questionsGrid {
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            gap: 0px;

            .sectionOne {
                .question {
                    margin: -3rem auto !important;
                }
            }
        }

        details,
        details:first-child {
            margin: 1rem auto;
            width: 100%;

        }
    }


}

@media ($media-medium) and ($media-medium-s) {
    #home {
        .section_one {
            .SectionGrid {
                grid-template-columns: repeat(1, 1fr) !important;
                gap: 20px;

                .dynamic {
                    display: none;
                }

                .carousel-control-prev,
                .carousel-control-next {
                    display: none !important;
                }
            }

            .table {
                display: block;
                margin-top: 20px;

                .numbers {
                    padding: 16px 18px;
                    border-radius: 8px;
                    border: 2px solid var(--secondary-text-color);


                    &.number1 {
                        grid-area: header;
                    }

                    &.number2 {
                        grid-area: left;
                    }

                    &.number3 {
                        grid-area: right;
                    }

                    &.number4 {
                        grid-area: footer;
                    }
                }

                display: grid;
                grid-template-areas: 'header header header header header header'
                'left left left right right right'
                'footer footer footer footer footer footer';
                gap: 10px;
                text-align: center;
                align-items: center;
                padding: 10px;
            }
        }
    }

    .headings h2 {
        font-size: 32px;
    }

    .committeeGrid {
        grid-template-columns: repeat(2, 1fr) !important;

    }

    .btn-sections {
        width: 100% !important;
    }

    .grid-container {
        grid-template-areas:
            'menu menu'
            'header header'
            'right right'
            'left left'
            'main main'
            'footer footer'
            'row row' !important;
    }

    .item2 img {
        width: 100%;
    }

    .grid.gridT {
        flex-direction: row-reverse !important;

    }

    .item3 {
        position: relative;
        right: 69px !important;
    }

    .item5 {
        position: relative;
        right: 99.5px !important;

    }

    .item7 {
        position: relative;
        left: -0.7px !important;
    }


    .GridTeam {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .SponserGrid {
        grid-template-columns: repeat(2, 1fr) !important;

    }

    .questionsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 0px;

        .sectionOne {
            .question {
                margin: -3rem auto !important;
            }
        }
    }

    details,
    details:first-child {
        margin: 1rem auto;
        width: 100%;

    }

}


@keyframes showTitleMsp {
    100% {
        transform: translate(0px, 0px) rotate(0deg) skew(0deg, 0deg);
        opacity: 1;
    }

}

@keyframes return10 {
    100% {
        transform: translate(-10px, -10px);
        opacity: 0;
    }
}

@keyframes return20 {
    100% {
        transform: translate(-20px, -20px);
        opacity: 0;
    }
}

@keyframes line-through {
    14% {
        width: 100%;
    }

    100% {
        width: 100%;
    }

}

@keyframes line-through-mobile {
    100% {
        width: 100%;
    }

}

@keyframes line-through-2 {
    20% {
        width: 0;
    }

    40% {
        width: 100%;
    }

    100% {
        width: 100%;
    }

}

@keyframes line-through-3 {

    40% {
        width: 0%;
    }

    57% {

        width: 100%;
    }

    100% {
        width: 100%;
    }

}

@keyframes line-through-4 {
    59% {
        width: 0;
    }

    70% {
        width: 100%;
    }

    100% {
        width: 100%;
    }

}

@keyframes line-through-5 {
    70% {
        width: 0;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 100%;
    }

}

@keyframes question-asked-0 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    33% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    50% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    66% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    83% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}

@keyframes question-asked-1 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    33% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    50% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    66% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    83% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}

@keyframes question-asked-2 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    33% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    50% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    66% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    83% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}

@keyframes question-asked-3 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    33% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    50% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    66% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    83% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}

@keyframes question-asked-4 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    33% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    50% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    66% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    83% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}

@keyframes question-asked-5 {
    0% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    16% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    33% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    50% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    66% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    83% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

}