#data {
  .section_one {
    h2 {
      &.bestStudent {
        padding: 0 !important;
        display: inline-block;
      }

      #bestStudent {
        width: 100%;
        opacity: 0;
        overflow: hidden;
        display: inline-block;
        border-right: 0px solid;
        border-left: 0px solid;
        white-space: nowrap;

        color: var(--main-text-color) !important;

        span {
          color: var(--purple-accent) !important;
        }
      }
      margin-bottom: 2px !important;
      font-size: 35px !important;
      font-weight: 600 !important;
      margin-top: 15px !important;
    }

    p {
      &.des-info-bestStudent {
        opacity: 0;
        transform: translate(0px, -10px);
      }
      font-size: 15px !important;
      padding-top: 3px;
      color: var(--secondary-text-color) !important;
      font-weight: 400 !important;
    }
  }

  .title {
    color: var(--purple-accent);
  }

  .item1 {
    grid-area: img1;
  }

  .item2 {
    grid-area: img2;
  }

  .item_3 {
    grid-area: img3;
  }

  .item4 {
    grid-area: img4;
  }

  .item_5 {
    grid-area: img5;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "img1 img1 img1 img2 img2 img2"
      "img3 img3 img3 img4 img5 img5";
    gap: 20px;
  }
  .grid .section img {
    width: 100%;
  }

  .item1 {
    grid-area: img1;
  }

  .item2 {
    grid-area: img2;
  }

  .item_3 {
    grid-area: img3;
  }

  .item4 {
    grid-area: img4;
  }

  .item_5 {
    grid-area: img5;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "img1 img1 img1 img2 img2 img2"
      "img3 img3 img4 img4 img5 img5";
    gap: 20px;
  }

  .grid .section img {
    width: 100%;
  }

  .card {
    box-shadow: var(--box-shadow);
  }
  .card-blog {
    opacity: 0;
    transform: translate(-20px, -20px);
  }
  .card-blog:nth-of-type(even) {
    opacity: 0;
    transform: translate(20px, -20px);
  }
  .card p {
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: 500;
  }

  .card img {
    width: 100%;
    height: 46.4vh;
  }

  .views {
    display: inline;
  }

  .icons {
    width: 100%;
    justify-content: end;
    gap: 10px;
  }

  .fa-brands {
    color: #030303 !important;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: solid var(--secondary-text-color) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-brands:hover {
    color: var(--main-bg-nav-color) !important;
    background-color: var(--purple-accent) !important;
    cursor: pointer !important;
    transition: var(--transation);
  }

  a:hover {
    text-decoration: none !important;
  }

  .box {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    top: 30px;
    left: 30px;
    border-radius: 13px;
    text-align: center;
    padding: 4px;
  }

  .next-previous {
    display: flex;
    justify-content: space-around;
  }

  .next-previous #next {
    width: 20px;
    height: 20px;
    border: solid var(--secondary-text-color) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 20%;
    border: solid var(--secondary-text-color) 1px;
  }

  .next-previous #next:hover {
    color: var(--main-bg-nav-color) !important;
    background-color: var(--purple-accent) !important;
    cursor: pointer !important;
    transition: var(--transation);
  }

  .next-previous #previous {
    width: 20px;
    height: 20px;
    border: solid var(--secondary-text-color) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 20%;
    border: solid var(--secondary-text-color) 1px;
  }

  .next-previous #previous:hover {
    color: var(--main-bg-nav-color) !important;
    background-color: var(--purple-accent) !important;
    cursor: pointer !important;
    transition: var(--transation);
  }

  .content3 {
    opacity: 0;
    transform: translate(10px, 10px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .row1,
    .row2 {
      display: flex;
      padding: 10px;
      text-align: center;

      svg {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    div {
      border-radius: 8px;
      border: 1px solid var(--Black, #030303);
      box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
      margin: 7px;
      padding: 10px;
      transition: 0.5s;

      &:hover {
        .fa-angles-left {
          animation: move-row 0.8s linear infinite;
        }

        .fa-angles-right {
          animation: move-row-right 0.8s linear infinite;
        }
      }
    }
  }

  @keyframes move-row {
    100% {
      transform: translateX(-8px);
    }
  }

  @keyframes move-row-right {
    100% {
      transform: translateX(8px);
    }
  }
}

@media screen and (max-width: 767px) {
  #data {
    .grid {
      grid-template-areas:
        "img1" "img2"
        "img3" "img4" "img5";
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #data {
    .grid {
      grid-template-areas:
        "img1" "img2"
        "img3" "img4" "img5";
    }
  }
}
